body{
	background:url("../img/bg.png");
}

p{
	text-align:center;
	font-weight: bold;
}
ul{
	text-align: center;
	list-style-type: none;
}
li{
	text-decoration: none;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}