body{
	
	background:url("../img/resumebg.png");
	font-family: 'Prata', serif;

}

p{
	text-align: center;
	font-weight: bold;
}
ul{
	text-align: center;
	list-style-type: none;
}
li{
	text-decoration: none;
}

h1{	
text-align: center;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
